
#btn-row-1, #btn-row-2,#btn-row-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10pt;
    font-weight: 600;
}

.btn-loc, .btn-day, .btn-story {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
}

.btn-loc:focus, .btn-day:focus, .btn-story:focus, .btn-abuse:focus {
    outline: none !important;
}

.btn-active {
    background-color: black !important;
    color: white !important;
}

.spacer {
    display: inline-block;
    width: 40px;
}

.btn-abuse {
    cursor: pointer;
    background-color: white;
    border: 1px solid #FF5722;
    color: #FF5722;
    font-weight: 600;
}

.btn-abuse-active {
    background-color: #FF5722 !important;
    color: white !important;
}

.hidden {
    display: none;
}

.slot-label, .quarter-label {
    text-anchor: middle;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.g-axis .domain {
    opacity: 0;
}

.g-axis text {
    font-weight: 600;
    letter-spacing: 0.05em;
}

.legend-text {
    font-size: 10pt;
}

#gradient-startLabel, #gradient-endLabel {
    text-anchor: middle;
    font-size: 10px;
}

.color {
    fill: white;
}

.line-util {
    stroke-width: 1px;
    /* stroke:	#BDBDBD; */
    stroke: #616161;
}

.line-violated, .expired {
    stroke: #FF5722;
}

.violated-outside {
    /* stroke: #FF8A65; */
}

.line-boundary {
    stroke-width: 1px;
    stroke: #BDBDBD;
}

.hidden {
    /* opacity: 0; */
    display: none;
}

.line-unused,.line-vacant {
    stroke-width: 1px;
    stroke: #00BCD4;
}

.non-business, .util-hotness, .secondary {
    /* stroke: #81D4FA; */
    opacity: 0.25;
}

.quarter-line {
    stroke: white;
    stroke-width: 1px;
}

.line-business {
    stroke-width: 1px;
    stroke: #E0E0E0;
}